@model ClickOnIndia.Areas.Admin.Models.RouteModel

@{
    ViewBag.Title = "Manage Route";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{

    <div class="row">

        <div class="offset-md-1 col-md-10">
            @if (Model.RESULT != null && Model.RESULT != "")
            {

                <div class="row">
                    <div class="col-md-12 strong text-danger text-center">
                        @Model.RESULT
                    </div>
                </div>

            }

            <div class="card">
                <div class="card-header bg-secondary">
                    <strong class="card-title text-center">Manage Loction</strong>
                </div>
                <div class="card-body">

                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Location Name</label>
                        </div>
                        <div class="col-12 col-md-9">
                            @Html.TextBoxFor(m => m.LOCATION_NAME, new { @class = " form-control form-control-sm" })
                            <small class="form-text text-muted">@Html.ValidationMessageFor(m => m.LOCATION_NAME, String.Empty, new { @class = "text-danger" })</small>
                        </div>
                    </div>

                </div>
                <div class="card-footer">

                    <button type="submit" class="btn btn-success btn-sm">Submit</button>

                    @*<button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button type="reset" class="btn btn-danger btn-sm">
                            <i class="fa fa-ban"></i> Reset
                        </button>*@
                </div>
            </div>
        </div>
    </div>
}