@model ClickOnIndia.Areas.Admin.Models.HotelRoomModelView

@{
    ViewBag.Title = "ViewHotelRoom";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <div class="card">
                <div class="card-header bg-secondary">
                    <strong class="card-title text-center">View Hotel Room</strong>
                </div>
                <div class="card-body">

                    <div class="row form-group">
                        <div class="col col-md-12 text-center">

                            @if (Model.HotelRoomModelList != null && Model.HotelRoomModelList.Count() > 0)
                            {
                                var grid = new WebGrid(Model.HotelRoomModelList, canPage: true, rowsPerPage: 5,
                                selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
                                grid.Pager(WebGridPagerModes.All);

                                @grid.GetHtml(tableStyle: "table table-bordered table-hover",
                                                  headerStyle: "header",
                                                  alternatingRowStyle: "alt",
                                                  selectedRowStyle: "select",
                                                  columns: grid.Columns(
                                                      grid.Column("HOTEL_ROOM_ID", "Room ID"),
                                                      grid.Column("HOTEL_NAME", "Hotel"),
                                                      grid.Column("ROOM_TYPE_VALUE", "Room Type"),
                                                      grid.Column("STATUS", "Status"),                                                    
                                                      grid.Column("Edit", format:@<text><a href="@Url.Action("ManageHotelRoom", "Admin", new { hotelRoomID=item.HOTEL_ROOM_ID })" target="_blank"><i class="fa fa-edit"></i></a></text>)
                                    ))
                            }
                        </div>
                    </div>

                </div>
                @*<div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" onClick="window.location.reload();">
                            <i class="fa fa-ban"></i> Reset
                        </button>
                    </div>*@
            </div>
        </div>
    </div>
}

