@model ClickOnIndia.Areas.Admin.Models.SeatModelView

@{
    ViewBag.Title = "ViewSeats";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <div class="card">
                <div class="card-header bg-secondary">
                    <strong class="card-title text-center">View Seat Class</strong>
                </div>
                <div class="card-body">

                    <div class="row form-group">
                        <div class="col col-md-12 text-center">

                            @if (Model.SeatModelList != null && Model.SeatModelList.Count() > 0)
                            {
                                var grid = new WebGrid(Model.SeatModelList, canPage: true, rowsPerPage: 5,
                                selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
                                grid.Pager(WebGridPagerModes.All);

                                @grid.GetHtml(tableStyle: "table table-bordered table-hover",
                                                  headerStyle: "header",
                                                  alternatingRowStyle: "alt",
                                                  selectedRowStyle: "select",
                                                  columns: grid.Columns(
                                                      grid.Column("SEAT_ID", "Seat ID"),
                                                      grid.Column("SEAT_NAME", "Seat Name"),
                                                      //grid.Column("STATUS", "Status"),
                                                      grid.Column("TYPE_VALUE", "Type"),
                                                      grid.Column("COMPARTMENT_NAME", "Compartment"),
                                                      grid.Column("ADULT_COST", "Cost for Adult"),
                                                      grid.Column("CHILD_COST", "Cost for Child"),
                                                      grid.Column("COUNT", "Count"),
                                                      grid.Column("DATE", "Created Date"),
                                                      grid.Column("Edit", format:@<text><a href="@Url.Action("ManageSeatClass","Admin", new { seatID=item.SEAT_ID })" target="_blank"><i class="fa fa-edit"></i></a></text>)
                                    ))
                            }
                        </div>
                    </div>

                </div>
                @*<div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" onClick="window.location.reload();">
                            <i class="fa fa-ban"></i> Reset
                        </button>
                    </div>*@
            </div>
        </div>
    </div>
}

